  /*nav*/
 .navbar-brand {
  font-size: 2em;
  font-family: "Angeline Vintage_Demo";
  color: white !important;  /*dark pink*/
  text-shadow: 2px 2px black;
  
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Angeline Vintage_Demo";
  src: url("../font/Angeline Vintage_Demo.ttf");
}

#myName {
	font-size: 5em;
	font-family: "Angeline Vintage_Demo";
	color: white !important; 	/*dark pink*/
	text-shadow: 2px 2px black;
	/*border:1px solid pink;*/
	
}

@font-face {
	font-family: "Angeline Vintage_Demo";
	src: url("../font/Angeline Vintage_Demo.ttf");
}

.nav-link{
  color: white !important;
  font-size: 1.5em;
  font-family: "Xyling Font by Situjuh (7NTypes)";

}

@font-face {
	font-family: "Xyling Font by Situjuh (7NTypes)";
	src: url("../font/Xyling Font by Situjuh (7NTypes).otf");
}

.branding{
  color: white !important;
  font-size: 2.5em;
  font-family: "Xyling Font by Situjuh (7NTypes)";

}

@font-face {
	font-family: "Xyling Font by Situjuh (7NTypes)";
	src: url("../font/Xyling Font by Situjuh (7NTypes).otf");
}



/*fonts*/
.everyTitle {
	 font-family: "Xyling Font by Situjuh (7NTypes)";
	 font-size: 2.5em;
}

@font-face {
	font-family: "Xyling Font by Situjuh (7NTypes)";
	src: url("../font/Xyling Font by Situjuh (7NTypes).otf");
}

.subTitle{
	 font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
	 color: #454454;
}

@font-face {
	font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
	src: url("../font/Passion to Action (Slant) Font by Situjuh (7NTypes).otf");
}

.workTitle{
	 font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
	 color: #454454;
	 font-size: 2em;
}

@font-face {
	font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
	src: url("../font/Passion to Action (Slant) Font by Situjuh (7NTypes).otf");
}

.iconDesc{
	 font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
	 font-weight: bold;
	 font-size: 1.25em;
	 color: #454454;
}

@font-face {
	font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
	src: url("../font/Passion to Action (Slant) Font by Situjuh (7NTypes).otf");
}

.contentFont{
   font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
   font-size: 1.25em;
   text-indent: 5%;
   color: #454454; 
   letter-spacing: 3px;
}

@font-face {
	font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
	src: url("../font/Passion to Action (Slant) Font by Situjuh (7NTypes).otf");
}

.contactFont{
   font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
   font-size: 1.25em;
   color: #454454; 
   letter-spacing: 3px;
}

@font-face {
	font-family: "Passion to Action (Slant) Font by Situjuh (7NTypes)";
	src: url("../font/Passion to Action (Slant) Font by Situjuh (7NTypes).otf");
}
#boldName {
	font-weight: bold;
}
/*===*/
.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

path {
	stroke: #fff;
	fill: #fff;
	stroke-dasharray: 1800;
	opacity: 10;
	animation:  animate 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 1800;
	}

	30% {
		opacity:  10;
		fill: none;
		stroke-dashoffset: 1800;
	}

	90% {
		fill: rgba(255,255,255,0);
	}

	100% {
		opacity: 10;
		fill: rgba(255,255,255,1);
		stroke-dashoffset: 0;
	}
}

.progress {
	height: 0.50em;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  /*padding: 2px;*/
  border-radius: 80px;
}

#myBtn:hover {
  background-color: #555;
}

#skillBackground {
	background-color: 	#e0e0e0;
	width: 100%;
	padding:0;
	margin: 0;

}

.card {
	box-shadow: none;
}

#displayPic {
	border-radius: 100px;
}